@{
    Page.Title = "Acerca de nosotros";
}

<section id="main">
    <h1>Breve descripción de Jaci Vestido Exclusivos</h1>
    <p>
       Empresa dedicada al diseño y creacion de Vestidos exclusivos.
       Vestidos echos de alta calidad para los clientes mas exigentes y con estilo.
       Tambien nos dedicamos a la creacion de vestidos de Vallet para los cuales nos puede contactar para hacer sus pedidos especiales.       
    </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Búscanos", 
        backgroundShellColor: "#F0D58C", 
        tweetsBackgroundColor: "#F0D58C", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
